<section class="container mt-[641px]">
  <div class="bg-white shadow-xl py-[50px] rounded-[15px]">
    <div class="border-b-2 pb-[35px] grid grid-cols-3 px-[65px]">
      <div class="">
        <h3 class="font-poppins_semiBold text-[40px] text-[#282828] mb-[25px]">
          Pricing
        </h3>
        <p class="text-[#6E757C] font-poppins_medium">
          Affordable Basic & Pro Plans
        </p>
      </div>
      <div class="">
        <h3 class="font-poppins_semiBold text-[40px] text-[#282828] mb-[25px]">
          Basic
        </h3>
        <p class="text-[#6E757C] font-poppins_medium">
          Completely 100% Free Plan
        </p>
      </div>
      <div class="">
        <h3 class="font-poppins_semiBold text-[40px] text-[#282828] mb-[25px]">
          Premium
        </h3>
        <p class="text-[#6E757C] font-poppins_medium">
          Amazing Premium Features Plan
        </p>
      </div>
    </div>
    <div class="border-b-2 py-[40px] grid grid-cols-3 px-[65px]">
      <div class=""></div>
      <div class="">
        <p class="text-[#272E35] font-poppins_semiBold text-[64px]">
          <sup class="text-[24px] top-[-30px]">$</sup>0<sub
            class="text-[#6E757C] text-[24px]"
            >/month</sub
          >
        </p>
      </div>
      <div class="">
        <p class="text-[#272E35] font-poppins_semiBold text-[64px]">
          <sup class="text-[24px] top-[-30px]">$</sup>5<sub
            class="text-[#6E757C] text-[24px]"
            >/month</sub
          >
        </p>
      </div>
    </div>
    <div class="border-b-2 py-[40px] px-[65px]">
      <h3 class="font-poppins_semiBold text-[24px] text-[#282828] mb-[50px]">
        Core features
      </h3>
      <div class="grid grid-cols-3 mb-[35px]">
        <p class="text-[#606060] font-poppins_medium text-[22px]">Support 24/7</p>
        <div class="bg-[#6C5FBC] flex items-center justify-center w-[35px] h-[35px] rounded-[50px]">
          <i class="pi pi-check text-white"></i>
        </div>
        <div class="bg-[#6C5FBC] flex items-center justify-center w-[35px] h-[35px] rounded-[50px]">
          <i class="pi pi-check text-white"></i>
        </div>
      </div>
      <div class="grid grid-cols-3 mb-[35px]">
        <p class="text-[#606060] font-poppins_medium text-[22px]">Fast Delivery</p>
        <div class="bg-[#6C5FBC] flex items-center justify-center w-[35px] h-[35px] rounded-[50px]">
          <i class="pi pi-check text-white"></i>
        </div>
        <div class="bg-[#6C5FBC] flex items-center justify-center w-[35px] h-[35px] rounded-[50px]">
          <i class="pi pi-check text-white"></i>
        </div>
      </div>
      <div class="grid grid-cols-3 mb-[35px]">
        <p class="text-[#606060] font-poppins_medium text-[22px]">20% Off Food Deals</p>
        <div class="bg-[#6C5FBC] flex items-center justify-center w-[35px] h-[35px] rounded-[50px]">
          <i class="pi pi-check text-white"></i>
        </div>
        <div class="bg-[#6C5FBC] flex items-center justify-center w-[35px] h-[35px] rounded-[50px]">
          <i class="pi pi-check text-white"></i>
        </div>
      </div>
      <div class="grid grid-cols-3 mb-[35px]">
        <p class="text-[#606060] font-poppins_medium text-[22px]">Transaction History</p>
        <div class="bg-[#6C5FBC] flex items-center justify-center w-[35px] h-[35px] rounded-[50px]">
          <i class="pi pi-check text-white"></i>
        </div>
        <div class="bg-[#6C5FBC] flex items-center justify-center w-[35px] h-[35px] rounded-[50px]">
          <i class="pi pi-check text-white"></i>
        </div>
      </div>
      <div class="grid grid-cols-3 mb-[35px]">
        <p class="text-[#606060] font-poppins_medium text-[22px]">Weekend Deals</p>
        <div class="bg-[#EB3F5E] flex items-center justify-center w-[35px] h-[35px] rounded-[50px]">
          <i class="pi pi-times text-white"></i>
        </div>
        <div class="bg-[#6C5FBC] flex items-center justify-center w-[35px] h-[35px] rounded-[50px]">
          <i class="pi pi-check text-white"></i>
        </div>
      </div>
      <div class="grid grid-cols-3 mb-[35px]">
        <p class="text-[#606060] font-poppins_medium text-[22px]">Dashboard Access</p>
        <div class="bg-[#EB3F5E] flex items-center justify-center w-[35px] h-[35px] rounded-[50px]">
          <i class="pi pi-times text-white"></i>
        </div>
        <div class="bg-[#6C5FBC] flex items-center justify-center w-[35px] h-[35px] rounded-[50px]">
          <i class="pi pi-check text-white"></i>
        </div>
      </div>
      <div class="grid grid-cols-3 mb-[35px]">
        <p class="text-[#606060] font-poppins_medium text-[22px]">Premium Group Access</p>
        <div class="bg-[#EB3F5E] flex items-center justify-center w-[35px] h-[35px] rounded-[50px]">
          <i class="pi pi-times text-white"></i>
        </div>
        <div class="bg-[#6C5FBC] flex items-center justify-center w-[35px] h-[35px] rounded-[50px]">
          <i class="pi pi-check text-white"></i>
        </div>
      </div>
    </div>
    <div class=" pt-[40px] grid grid-cols-3 px-[65px]">
        <div class=""></div>
         <button
            class="w-[200px] bg-[rgba(108,95,188,1)] px-[26px] py-[15px] rounded-[17px] text-white border duration-300 hover:text-[rgba(108,95,188,1)] hover:border hover:border-[rgba(108,95,188,1)] hover:bg-white"
          >
            START FREE
          </button>
           <button
            class=" w-[200px] bg-[rgba(108,95,188,1)] px-[26px] py-[15px] rounded-[17px] text-white border duration-300 hover:text-[rgba(108,95,188,1)] hover:border hover:border-[rgba(108,95,188,1)] hover:bg-white"
          >
           START PRO
          </button>
    </div>
  </div>
</section>
