<section class="section container grid grid-cols-2">
  <div class="">
    <h2 class="title_bigger font-poppins_bold mb-[48px]">
      Control <span class="text-[rgba(92,78,174,1)]">Purchases</span> <br />
      Via Dashboard
    </h2>
    <app-purchas-card></app-purchas-card>
    <app-purchas-card></app-purchas-card>
    <app-purchas-card></app-purchas-card>
  </div>
  <div class="">
    <div class="bg-white border shadow-xl rounded-[10px] px-[35px] py-[45px]">
      <div class="flex justify-between mb-[45px]">
        <p class="text-[#1A202C] font-manrope_extraBold text-[28px]">Purchases</p>
        <select class="font-manrope_semiBold border rounded-lg py-[12px] px-[18px] text-sm">
          <option>This Month</option>
          <option>This Week</option>
          <option>This Year</option>
        </select>
      </div>
      <app-purchases-increased-card></app-purchases-increased-card>
      <app-purchases-increased-card></app-purchases-increased-card>
    </div>
  </div>
</section>
