<section
  class="max-w-[1300px] mx-auto px-6 map relative rounded-[40px] mx-[10px] xl:mx-auto sm:mt-[56px] xl:mt-[80px]  xl:h-[735px]"
>
  <div class="ml-[300px]">
    <img src="../../../../assets/images/location.png" alt="" class=""/>
  </div>
  <div
    class="overflow-hidden rounded-[24px] absolute sm:bottom-[-200px] xl:bottom-[-150px] left-[400px] sm:w-[335px] xl:w-[450px]"
  >
    <div class="bg-[#323142] flex items-center gap-[20px] sm:p-[14px] xl:p-[20px]">
      <div class="rounded-[15px] overflow-hidden sm:w-[43px] xl:w-[60px] sm:h-[43px] xl:h-[60px]">
        <img src="../../../../assets/images/face.jpg" alt="" class="w-full" />
      </div>
      <div class="">
        <p class="font-poppins_medium text-[#F3F5F6] sm:text-[15] xl:text-[22px]">
          David Smith
        </p>
        <p class="font-poppins_medium text-[#ACADB9] sm:text-[11] xl:text-[15px]">
          Food Rider
        </p>
      </div>
    </div>
    <div class="bg-white sm:p-[14px] xl:px-[20px] sm:py-[20px] xl:py-[30px] ">
        <div class="flex gap-[30px]">
          <div class="flex flex-col items-center">
            <div class="bg-[#BBB6D7] rounded-[50px] flex items-center justify-center w-[40px] h-[40px]">
              <img src="../../../../assets/icon/location-icon.svg" alt="" />
            </div>
            <div class="h-[40px] w-[2px] border border-dashed border-[#6C5FBC]"></div>
            <div class="bg-[#BBB6D7] rounded-[50px] flex items-center justify-center w-[40px] h-[40px]">
              <img src="../../../../assets/icon/clock-icon.svg" alt="" />
            </div>
          </div>
          <div class="">
              <div class="">
                <p class="text-[#ACADB9] font-poppins_mediu text-[11px]">Your Address</p>
                <p class="font-poppins_medium text-[13px]">Horizenal Road Stree 1178 <br>California, USA</p>
              </div>
              <div class="mt-[30px]">
                <p class="text-[#ACADB9] font-poppins_mediu text-[11px]">Delivery Time</p>
                <p class="font-poppins_medium text-[13px]">15 Minutes</p>
              </div>
          </div>
        </div>
        <div class="flex justify-end">
            <button class="bg-[#6C5FBC] rounded-[3px] py-[10px] px-[30px] text-white sm:text-[11px] xl:text-[16px]">Pending</button>
        </div>
    </div>
  </div>
</section>
