<section
  class="max-w-[1300px] mx-auto px-6 map relative rounded-[40px] mt-[80px] h-[735px]"
>
  <div class="mt-[83px] ml-[300px]">
    <img src="../../../../assets/images/location.png" alt="" />
  </div>
  <div
    class="overflow-hidden rounded-[24px] absolute bottom-[-150px] left-[400px] w-[450px]"
  >
    <div class="bg-[#323142] flex items-center gap-[20px] p-[20px]">
      <div class="rounded-[15px] overflow-hidden w-[60px] h-[60px]">
        <img src="../../../../assets/images/face.jpg" alt="" class="w-full" />
      </div>
      <div class="">
        <p class="font-poppins_medium text-[#F3F5F6] text-[22px]">
          David Smith
        </p>
        <p class="font-poppins_medium text-[#ACADB9] text-[15px ]">
          Food Rider
        </p>
      </div>
    </div>
    <div class="bg-white px-[20px] py-[30px] ">
        <div class="flex gap-[30px]">
          <div class="flex flex-col items-center">
            <div class="bg-[#BBB6D7] rounded-[50px] flex items-center justify-center w-[40px] h-[40px]">
              <img src="../../../../assets/icon/location-icon.svg" alt="" />
            </div>
            <div class="h-[40px] w-[2px] border border-dashed border-[#6C5FBC]"></div>
            <div class="bg-[#BBB6D7] rounded-[50px] flex items-center justify-center w-[40px] h-[40px]">
              <img src="../../../../assets/icon/clock-icon.svg" alt="" />
            </div>
          </div>
          <div class="">
              <div class="">
                <p class="text-[#ACADB9] font-poppins_mediu text-[11px]">Your Address</p>
                <p class="font-poppins_medium text-[13px]">Horizenal Road Stree 1178 <br>California, USA</p>
              </div>
              <div class="mt-[30px]">
                <p class="text-[#ACADB9] font-poppins_mediu text-[11px]">Delivery Time</p>
                <p class="font-poppins_medium text-[13px]">15 Minutes</p>
              </div>
          </div>
        </div>
        <div class="flex justify-end">
            <button class="bg-[#6C5FBC] rounded-[3px] py-[10px] px-[30px] text-white">Pending</button>
        </div>
    </div>
  </div>
</section>
