<header class="container xl:mt-[126px]">
  <h2 class="font-poppins_semiBold text-[37px]">
    {{ data?.title }}
  </h2>
  <div
    class="flex items-center gap-[8px] xl:gap-[11px] xl:mt-[32px] xl:mb-[60px]"
  >
    <div
      class="w-[30px] xl:w-[55px] h-[30px] xl:h-[55px] rounded-[50px] overflow-hidden border"
    >
      <img [src]="data?.user" alt="" class="w-full" />
    </div>
    <div class="">
      <p class="font-poppins_regular text-[#8D8D8D] text-[8px] xl:text-[15px]">
        Written By
      </p>
      <p class="font-poppins_medium text-[12px] xl:text-[21px]">Perperzon</p>
    </div>
  </div>
  <div class="max-h-[403px] aspect-3/4">
    <img [src]="data.photo_bg" alt="" class="w-full">
  </div>
</header>
