<header class="container mt-[69px] md:mt-[90px] xl:mt-[126px]">
  <h2 class="font-poppins_semiBold text-[22px] md:text-[26px] xl:text-[37px]">
    {{ data?.title }}
  </h2>
  <div
    class="flex items-center gap-[8px] xl:gap-[11px] mt-[22px] xl:mt-[32px] mb-[69px] md:mb-[43px] xl:mb-[60px] border-b-2 md:border-b-0 pb-[16px] md:pb-0"
  >
    <div
      class="w-[39px] xl:w-[55px] h-[39px] xl:h-[55px] rounded-[50px] overflow-hidden border"
    >
      <img [src]="data?.user" alt="" class="w-full" />
    </div>
    <div class="">
      <p class="font-poppins_regular text-[#8D8D8D] text-[10px] xl:text-[15px]">
        Written By
      </p>
      <p class="font-poppins_medium text-[15px] xl:text-[21px]">Perperzon</p>
    </div>
  </div>
  <div class="max-h-[403px] aspect-3/4 hidden md:block">
    <img [src]="data.photo_bg" alt="" class="w-full">
  </div>
</header>
