<footer class="bg-[#EAEAEA] mt-[156px] pt-[95px]">
  <div
    class="container border-b-2 border-[#818181] flex items-center justify-between pb-[30px]"
  >
    <a [routerLink]="['/']" class="flex items-center gap-2">
      <img src="../../../assets/icon/logo.svg" alt="" class="" />
      <span class="text-[rgba(108,95,188,1)] font-poppins_semiBold">eatly</span>
    </a>
    <ul class="font-inter_medium text-[#999999] flex gap-[50px]">
      <li class="duration-300 hover:text-[rgba(108,95,188,1)]">
        <a [routerLink]="['menu']">Menu</a>
      </li>
      <li class="duration-300 hover:text-[rgba(108,95,188,1)]">
        <a [routerLink]="['']">Blog</a>
      </li>
      <li class="duration-300 hover:text-[rgba(108,95,188,1)]">
        <a [routerLink]="['']">Pricing</a>
      </li>
      <li class="duration-300 hover:text-[rgba(108,95,188,1)]">
        <a [routerLink]="['']">Contact</a>
      </li>
    </ul>
  </div>
  <div class="container py-[50px] flex items-center justify-between">
    <p class="font-inter_medium text-[#999999]">
      © 2023 EATLY All Rights Reserved.
    </p>
    <div class="flex items-center gap-[53px]">
      <a href="#">
        <img src="../../../assets/icon/instagram.svg" alt="" />
      </a>
      <a href="#">
        <img src="../../../assets/icon/linkedin.svg" alt="" />
      </a>
      <a href="#">
        <img src="../../../assets/icon/facebook.svg" alt="" />
      </a>
      <a href="#">
        <img src="../../../assets/icon/twiter.svg" alt="" />
      </a>
    </div>
  </div>
</footer>
