<div class="bg-white shadow-xl rounded-[40px] py-[25px]">
  <div class="flex justify-end mr-[20px]">
    <img src="../../../assets/icon/heart.svg" alt="" class="" />
  </div>
  <div class="px-[5px]">
    <img src="../../../assets/images/chiken-salad.png" alt="" />
  </div>
  <div class="px-[25px]">
    <p
      class="text-[#DAA31A] bg-[#F7EDD0] lg:w-[40px] xl:w-[65px] text-center lg:text-[8px] xl:text-[12px] rounded-[5px] lg:py-[1px] xl:py-[5px]"
    >
      Healthy
    </p>
    <p
      class="font-poppins_semiBold leading-[37px] text-[rgba(50,49,66,1)] lg:text-[16px] lx:text-[23px]"
    >
      Chicken Hell
    </p>
    <div
      class="flex items-center gap-2 font-manrope_regular text-[rgba(142,151,166,1)]"
    >
      <p class="">24min</p>
      <img src="../../../assets/icon/star-color.svg" alt="" class="" />
      <p>4.8</p>
    </div>
    <div class="font-manrope_bold flex justify-between mt-[13px]">
        <h3 class="lg:text-[18px] xl:text-[25px] text-[#323142]">$12<span class=" lg:text-[13px] xl:text-[18px] text-[#8E97A6]">.99</span></h3>
        <button class="bg-[#323142] lg:w-[31px] xl:w-[43px] lg:h-[28px] xl:h-[39px] rounded-[8px] text-white text-[18px]">+</button>
    </div>
  </div>
</div>
