<div class="bg-white rounded-[10px] py-[5px] flex items-center justify-between shadow-xl mb-[20px]">
    <div class="flex items-center gap-[13px]">
        <div class=" sm:w-[70px] xl:w-[98px]">
            <img src="../../../assets/images/chiken-salad.png" alt="" class="w-full">
        </div>
        <div class="text-[#323142] font-poppins_semiBold">
            <p class="sm:text-[15px] xl:text-[22px]">Chicken Hell</p>
            <p class="sm:text-[12px] xl:text-[18px]">$12.99</p>
        </div>
    </div>
    <div class=" flex flex-col items-center gap-[8px] mr-[55px]">
        <div class="flex items-center gap-[8px] text-[12px] xl:text-[17px]">
            <button class="pi pi-minus rounded-[10px] border border-[#323142] sm:w-[23px] xl:w-[33px] sm:h-[23px] xl:h-[33px]"></button>
            <p class="font-poppins_regular ">03</p>
            <button class="pi pi-plus rounded-[10px] text-white bg-[#323142] sm:w-[23px] xl:w-[33px] sm:h-[23px] xl:h-[33px]"></button>
        </div>
        <p class="text-[#323142] font-poppins_semiBold text-[12px] xl:text-[17px]">$38.97</p>
    </div>
</div>
