<section class="section container">
  <h2 class="title font-poppins_semiBold">
    Our Top <span class="text-[rgba(92,78,174,1)]">Dishes</span>
  </h2>
  <div class="grid sm:grid-cols-3 md:grid-cols-5 sm:gap-[20px] xl:gap-[30px] sm:mt-[65px] md:mt-[85px]">
    <app-dish-card></app-dish-card>
    <app-dish-card></app-dish-card>
    <app-dish-card></app-dish-card>
    <app-dish-card></app-dish-card>
    <app-dish-card></app-dish-card>
  </div>
  <div class="font-poppins_medium flex justify-end sm:mt-[25px] md:mt-[46px] xl:mt-[65px]">
    <a
      href="#"
      class="text-[#ACADB9]  sm:text-[14px] xl:text-[20px] flex items-center"
      >View All
      <i class="pi pi-arrow-right ml-[13px] sm:text-[14px] xl:text-[20px]"></i>
    </a>
  </div>
</section>
