<section class="max-w-[1300px] mx-auto px-6 md:mt-[46px] xl:mt-[66px]">
  <div
    class="relative bg-[#5C4EAE] flex justify-center pt-[21px] sm:pt-[45px] h-[180px] md:h-[335px]"
  >
    <img
      src="../../../../assets/icon/arrow-b.svg"
      alt=""
      class="w-[32px] h-[30px] md:w-[59px] md:h-[55px] xl:w-[83px] xl:h-[77px]"
    />
    <h2
      class="relative font-poppins_semiBold text-white md:text-[28px] xl:text-[40px]"
    >
      Our Pricing
    </h2>
    <div
      class="absolute top-[40px] md:top-[60px] lg:left-[40px] xl:left-[100px] w-[350px] sm:w-[622px] md:w-[680px] lg:w-[887px] xl:w-[1087px]"
    >
      <img
        src="../../../../assets/images/home.png"
        alt=""
        class="w-full"
      />
      <div
        class="hidden sm:block absolute sm:right-[20px] md:right-[40px] lg:right-[60px] sm:top-[20px] md:top-[25px] lg:top-[40px] "
      >
        <img
          src="../../../../assets/icon/Illustration-white.svg"
          alt=""
          class="w-[22px] sm:w-[25px] md:w-[29px] xl:w-[46px]"
        />
      </div>
      <div
        class="absolute bottom-[20px] sm:left-[20px] md:left-[30px] lg:left-[40px] sm:bottom-[50px] md:bottom-[60px] lg:bottom-[80px] "
      >
        <img
          src="../../../../assets/icon/Illustration.png"
          alt=""
          class="rotate-[-65deg] scale-x-[-1] w-[22px] sm:w-[25px] md:w-[29px] xl:w-[46px]"
        />
      </div>
    </div>
  </div>
</section>
