<section class="max-w-[1300px] mx-auto px-6 md:mt-[46px] xl:mt-[66px]">
  <div class="relative bg-[#5C4EAE] flex justify-center pt-[45px] h-[335px]">
    <img
      src="../../../../assets/icon/arrow-b.svg"
      alt=""
      class="md:w-[59px] md:h-[55px] xl:w-[83px] xl:h-[77px]"
    />
    <h2 class="relative font-poppins_semiBold text-white md:text-[28px] xl:text-[40px]">Pricing</h2>
    <div class="absolute top-[60px] md:left-[40px] xl:left-[100px]">
      <img src="../../../../assets/images/home.png" alt="" class=" md:w-[887px] xl:w-full" />
      <div class="absolute top-[40px] right-[60px]">
        <img src="../../../../assets/icon/Illustration-white.svg" alt="" class="md:w-[29px] xl:w-[46px]">
      </div>
      <div class="absolute bottom-[90px] left-[40px]">
        <img src="../../../../assets/icon/Illustration.png" alt="" class="rotate-[-60deg] scale-x-[-1] md:w-[29px] xl:w-[46px]">
      </div>
    </div>
  </div>
</section>
