<section class="container grid sm:grid-cols-2 gap-[30px] items-center mt-[30px] md:mt-[50px]">
  <div class="text-center sm:text-left">
    <div class="flex justify-center sm:justify-start items-center gap-[10px] md:gap-[20px]">
      <span class="w-[40px] md:w-[54px] sm:h-[1px] h-[2px] bg-[#201F1F] sm:bg-[rgba(32,31,31,0.2)]"></span>
      <p class="text-[#201F1F] sm:text-[rgba(32,31,31,0.2)] font-poppins_semiBold sm:text-[8px] md:text-[10px] xl:text-[15px]">
        OVER 1000 USERS
      </p>
    </div>
    <h1
      class="text-[#201F1F] my-[8px] md:my-[12px] xl:my-[18px] text-[46px] sm:text-[31px] md:text-[53px] xl:text-[75px] font-poppins_semiBold leading-[120%]"
    >
      Enjoy Foods All Over The
      <span class="text-[rgba(92,78,174,1)]">World</span>
    </h1>
    <p
      class="font-inter_regular md:leading-[28px] text-[rgba(32,31,31,0.2)] text-[rgba(103,103,103,1)] text-[12px] sm:text-[8px] md:text-[12px] lg:text-[16px] xl:text-[18px]"
    >
      EatLy help you set saving goals, earn cash back offers, Go to disclaimer
      for more details and get paychecks up to two days early.
      <span class="font-inter_medium text-[rgba(92,78,174,1)]">Get a $20 bonus.</span>
    </p>
    <div class="font-poppins_medium flex justify-center sm:justify-start gap-[14px] sm:gap-[8px] md:gap-[12px] xl:gap-[18px] mt-[20px] md:mt-[37px] xl:mt-[53px]">
      <button
        class="bg-[rgba(108,95,188,1)] text-[12px] sm:text-[8px] md:text-[11px] xl:text-[16px] px-[24px] sm:px-[14px] md:px-[20px] xl:px-[26px] py-[15px] sm:py-[8px] md:py-[12px] xl:py-[15px] rounded-[12px] text-white border duration-300 hover:text-[rgba(108,95,188,1)] hover:border-[rgba(108,95,188,1)] hover:bg-white"
      >
        Get Started
      </button>
      <button
        class="bg-white sm:text-[8px] text-[12px] md:text-[11px] xl:text-[16px] px-[24px] sm:px-[15px] md:px-[20px] xl:px-[26px] py-[15px] sm:py-[8px] md:py-[12px] xl:py-[15px] rounded-[12px] text-[rgba(108,95,188,1)] border border-[rgba(108,95,188,1)]"
      >
        Go Pro
      </button>
    </div>
    <div class="mt-[33px] flex items-end justify-center sm:justify-start gap-[20px]">
      <img src="../../../../assets/icon/trustpilot-1 1.svg" alt="" class="sm:w-[87px] md:w-[123px]"/>
      <div class="flex items-center">
        <img
          src="../../../../assets/icon/star.svg"
          alt=""
          class="sm:w-[10px] md:w-[15px] sm:h-[10px] md:h-[15px]"
        />
        <img
          src="../../../../assets/icon/star.svg"
          alt=""
          class="sm:w-[10px] md:w-[15px] sm:h-[10px] md:h-[15px]"
        />
        <img
          src="../../../../assets/icon/star.svg"
          alt=""
          class="sm:w-[10px] md:w-[15px] sm:h-[10px] md:h-[15px]"
        />
        <img
          src="../../../../assets/icon/star.svg"
          alt=""
          class="sm:w-[10px] md:w-[15px] sm:h-[10px] md:h-[15px]"
        />
        <img
          src="../../../../assets/icon/star.svg"
          alt=""
          class="sm:w-[10px] md:w-[15px] sm:h-[10px] md:h-[15px]"
        /> 
        <span class="text-[rgba(51,65,85,1)] pl-[9px] sm:text-[11px] md:text-[16px]">4900+</span>
      </div>
    </div>
  </div>
  <div class="">
    <img
      src="../../../../assets/images/hero-dish.png"
      alt=""
      class="w-[680px]"
    />
  </div>
</section>
