<a [routerLink]="['/menu/self-product']" routerLinkActive="router-link-active"  class="overflow-hidden bg-white rounded-[30px] shadow-xl">
  <img src="../../../assets/images/chicken.png" alt="" class="w-full" />
  <div class="px-[34px] py-[10px]">
    <p class="text-[#DAA31A] bg-[#F7EDD0] w-[65px] text-center text-[12px] rounded-[5px] py-[5px]">Healthy</p>
    <p
      class="font-poppins_semiBold leading-[41px] text-[rgba(50,49,66,1)] text-[25px]"
    >
      The Chicken King
    </p>
    <div class="flex justify-between">
      <div
        class="flex items-center gap-2 font-manrope_regular text-[rgba(142,151,166,1)]"
      >
        <p class="">24min</p>
        <img src="../../../assets/icon/star-color.svg" alt="" class="" />
        <p>4.8</p>
      </div>
      <div class="bg-[#DBD9EE] rounded-[50px] flex items-center justify-center w-[40px] h-[40px]">
        <img src="../../../assets/icon/book-mark.svg" alt="" class="" />
      </div>
    </div>
  </div>
</a>
