<div class="border rounded-[10px] p-[25px] mb-[20px]">
  <div class="flex items-center justify-between ">
    <div class=" flex items-center gap-[18px]">
        <div class="bg-[#F4F0FF] flex items-center justify-center rounded-[50px] w-[50px] h-[50px]">
          <img
            src="../../../assets/icon/wallet.svg"
            alt=""
            class=""
          />
        </div>
        <div class="">
          <p class="font-manrope_extraBold text-[18px]">Expense</p>
          <p class="font-manrope_medium text-[#A0AEC0] ">Increased By 10%</p>
        </div>
    </div>
    <p class="font-manrope_extraBold text-[20px]">$409.00</p>
  </div>
  <div class="h-[8px] rounded-[10px] bg-[#e8e6f2] mt-[20px]">
    <div [style.width.%]="70" class="bg-[#6C5FBC] h-full rounded-[10px]"></div>
  </div>
</div>
