<div class="border rounded-[10px] sm:p-[17px] xl:p-[25px] sm:mb-[26px] xl:mb-[20px]">
  <div class="flex items-center justify-between ">
    <div class=" flex items-center gap-[18px]">
        <div class="bg-[#F4F0FF] flex items-center justify-center rounded-[50px] sm:w-[35px] sm:h-[35px] xl:w-[50px] xl:h-[50px]">
          <img
            src="../../../assets/icon/wallet.svg"
            alt=""
            class="sm:w-[17px] xl:w-[25px] sm:h-[17px] xl:h-[25px]"
          />
        </div>
        <div class="">
          <p class="font-manrope_extraBold sm:text-[13px] xl:text-[18px]">Expense</p>
          <p class="font-manrope_medium text-[#A0AEC0] sm:text-[11px] xl:text-[15px]">Increased By 10%</p>
        </div>
    </div>
    <p class="font-manrope_extraBold sm:text-[15px] xl:text-[20px]">$409.00</p>
  </div>
  <div class="h-[8px] rounded-[10px] bg-[#e8e6f2] sm:mt-[14px] xl:mt-[20px]">
    <div [style.width.%]="70" class="bg-[#6C5FBC] h-full rounded-[10px]"></div>
  </div>
</div>
