<section class="container section grid sm:grid-cols-2 items-center ">
  <div class="flex justify-center order-2 mt-[20px] sm:mt-[0] sm:order-1">
    <img src="../../../../assets/images/mobile.png" alt="" class="w-[170px] md:w-[216px] xl:w-[371px]"/>
  </div>
  <div class="opder-1 sm:order-2">
    <h2 class="title_bigger font-poppins_bold text-center sm:text-left">
      Premium <span class="text-[rgba(92,78,174,1)]">Quality</span> <br />
      For Your Health
    </h2>
    <div class="flex justify-center sm:justify-start mt-[35px] sm:mt-[0px] sm:my-[20px] md:my-[40px] xl:my-[60px]">
      <ul class="font-inter_regular list-disc list-outside text-[rgba(103,103,103,1)]  text-[11px] sm:text-[8px] md:text-[14px] xl:text-[20px]">
        <li class="mb-[16px] sm:mb-[10px] md:mb-[19px] xl:mb-[28px]">
          Premium quality food is made with ingredients that <br />
          are packed with essential vitamins, minerals.
        </li>
        <li>
          These foods promote overall wellness by support <br />
          healthy digestion and boosting immunity
        </li>
      </ul>
    </div>

    <div class=" mr-[15%] sm:mr-0 flex justify-center items-center sm:justify-start">
       <button
         class="
         order-2
         sm:order-1
         font-poppins_medium
         bg-[rgba(108,95,188,1)] 
         inline-block
         px-[18px]
         sm:px-[10px]
         md:px-[18px]
         xl:px-[26px] 
         py-[10px]
         sm:py-[5px]
         md:py-[10px]
         xl:py-[15px] 
         rounded-[17px] 
         text-white
         text-[12px] 
         sm:text-[8px]
         md:text-[12px]
         xl:text-[18px]
         duration-300 
         border
         hover:text-[rgba(108,95,188,1)] 
         hover:border 
         hover:border-[rgba(108,95,188,1)] 
         hover:bg-white     
         ">
         Download 
         <i class="pi pi-arrow-right sm:ml-[2px] md:ml-[10px] text-[12px] sm:text-[8px]  md:text-[12px]  xl:text-[18px]"></i>
       </button>
    <img
      src="../../../../assets/icon/vector.png"
      alt=""
      class="
      order-1
      sm:order-2
      inline-block 
      rotate-[120deg] 
      sm:rotate-0 
      sm:scale-x-[1] 
      w-[95px] 
      sm:w-[56px] 
      md:w-[97px] 
      mt-[100px] 
      sm:mt-[25px] 
      md:mt-[70px] 
      sm:ml-[-10px] 
      md:ml-[-20px]
      "
    />
    </div>
  </div>
</section>
