<section class="container section grid grid-cols-2 items-center ">
  <div class="flex justify-center ">
    <img src="../../../../assets/images/mobile.png" alt="" class="sm:w-[120px] md:w-[216px] xl:w-[371px]"/>
  </div>
  <div class="">
    <h2 class="title_bigger font-poppins_bold ">
      Premium <span class="text-[rgba(92,78,174,1)]">Quality</span> <br />
      For Your Health
    </h2>
    <ul class="font-inter_regular list-disc list-outside text-[rgba(103,103,103,1)] sm:my-[20px] md:my-[40px] xl:my-[60px] sm:text-[8px] md:text-[14px] xl:text-[20px]">
      <li class="sm:mb-[10px] md:mb-[19px] xl:mb-[28px]">
        Premium quality food is made with ingredients that <br />
        are packed with essential vitamins, minerals.
      </li>
      <li>
        These foods promote overall wellness by support <br />
        healthy digestion and boosting immunity
      </li>
    </ul>

    <button
      class="
      font-poppins_medium
      bg-[rgba(108,95,188,1)] 
      sm:px-[10px]
      md:px-[18px]
      xl:px-[26px] 
      sm:py-[5px]
      md:py-[10px]
      xl:py-[15px] 
      rounded-[17px] 
      text-white 
      sm:text-[8px]
      md:text-[12px]
      xl:text-[18px]
      duration-300 
      border
      hover:text-[rgba(108,95,188,1)] 
      hover:border 
      hover:border-[rgba(108,95,188,1)] 
      hover:bg-white
     
      ">
      Download <i class="pi pi-arrow-right sm:ml-[2px] md:ml-[10px] sm:text-[8px]  md:text-[12px]  xl:text-[18px]"></i>
    </button>
    <img
      src="../../../../assets/icon/vector.png"
      alt=""
      class="inline-block sm:w-[56px] md:w-[87px] sm:mb-[-25px] md:mt-[70px] sm:ml-[-10px] md:ml-[-20px]"
    />
  </div>
</section>
