<section class="container section grid grid-cols-2 items-center ">
  <div class="flex justify-center">
    <img src="../../../../assets/images/mobile.png" alt="" />
  </div>
  <div class="">
    <h2 class="title_bigger font-poppins_bold">
      Premium <span class="text-[rgba(92,78,174,1)]">Quality</span> <br />
      For Your Health
    </h2>
    <ul class="font-inter_regular list-disc list-outside text-[rgba(103,103,103,1)] my-[60px]">
      <li class="mb-[28px]">
        Premium quality food is made with ingredients that <br />
        are packed with essential vitamins, minerals.
      </li>
      <li>
        These foods promote overall wellness by support <br />
        healthy digestion and boosting immunity
      </li>
    </ul>

    <button
      class="
      font-poppins_medium
      bg-[rgba(108,95,188,1)] 
      px-[26px] 
      py-[15px] 
      rounded-[17px] 
      text-white 
      duration-300 
      border
      hover:text-[rgba(108,95,188,1)] 
      hover:border 
      hover:border-[rgba(108,95,188,1)] 
      hover:bg-white
      ">
      Download ->
    </button>
    <img
      src="../../../../assets/icon/vector.png"
      alt=""
      class="inline-block w-[87px] mt-[70px] ml-[-20px]"
    />
  </div>
</section>
