<section class="container  py-[100px]">
  <div class="overflow-hidden bg-white rounded-[30px] shadow-xl">
    <img src="../../../assets/images/chicken-big-1.png" alt="" class="w-full" />

    <div class="flex justify-between px-[34px] py-[20px]">
      <p
        class="font-poppins_semiBold leading-[41px] text-[rgba(50,49,66,1)] text-[28px]"
      >
        The Chicken King
      </p>
      
        <div
          class="text-[18px] flex items-center gap-2 font-manrope_regular text-[rgba(142,151,166,1)]"
        >
          <p class="">24min</p>
          <img src="../../../assets/icon/star-color.svg" alt="" class="" />
          <p>4.8</p>
        </div>
        <div
          class="bg-[#DBD9EE] rounded-[50px] flex items-center justify-center w-[40px] h-[40px]"
        >
          <img src="../../../assets/icon/book-mark.svg" alt="" class="" />
        </div>
      </div>
    
  </div>
</section>
