::ng-deep .p-carousel-indicators {
    display: flex !important;
    justify-content: center;
    margin-top: 20px;
}

::ng-deep .p-carousel-indicator button {
    width: 30px;
    height: 10px;
    background: #e8e6f2 !important;
    border-radius: 10px;
    transition: 0.3s;
}

::ng-deep .p-carousel-indicator.p-highlight button {
    width: 70px;
    height: 10px;
    background: #6c5fbc !important;
    border-radius: 10px;
    transition: 0.3s;
}
::ng-deep .p-slider {
    background: #6C5FBC;
    border-radius: 8px;
}
::ng-deep .p-slider .p-slider-range {
    background: #6C5FBC;
}
::ng-deep .p-slider .p-slider-handle {
    background: #6C5FBC;
    border: 4px solid #BBB6D7;
}
::ng-deep .p-slider .p-slider-handle:focus {
    box-shadow: none !important;
}