::ng-deep .p-carousel-indicators {
    display: flex !important;
    justify-content: center;
    margin-top: 20px;
}

::ng-deep .p-carousel-indicator button {
    width: 30px;
    height: 10px;
    background: #e8e6f2 !important;
    border-radius: 10px;
    transition: 0.3s;
}

::ng-deep .p-carousel-indicator.p-highlight button {
    width: 70px;
    height: 10px;
    background: #6c5fbc !important;
    border-radius: 10px;
    transition: 0.3s;
}