<section class="container my-[70px] sm:my-[100px]">
  <div class="flex justify-center mb-[60px]">
    <h2 class="title font-poppins_semiBold leading-[120%] mt-[20px] sm:mt-[30px]">
      Frequently Asked <br />
      <span class="text-[rgba(92,78,174,1)]">Questions</span>
    </h2>
    <div class="w-[21px] sm:w-[41px]">
      <img
        src="../../../../assets/icon/Illustration.png"
        alt=""
        class="w-full"
        loading="lazy"
      />
    </div>
  </div>
<app-accordion></app-accordion>
</section>
