<section class="section container">
  <h2 class="title font-poppins_semiBold">
    Our Top <span class="text-[rgba(92,78,174,1)]">Restaurants</span>
  </h2>
  <div class="grid grid-cols-3 lg:gap-[20px] xl:gap-[30px] lg:mt-[60px] xl:mt-[85px]">
    <app-restaurant-card></app-restaurant-card>
    <app-restaurant-card></app-restaurant-card>
    <app-restaurant-card></app-restaurant-card>
  </div>
  <div class="font-poppins_medium flex justify-end lg:mt-[46px] xl:mt-[65px]">
    <a href="#" class="text-[#ACADB9] lg:text-[14px] xl:text-[20px] flex items-center">View All <i class="pi pi-arrow-right ml-[13px] lg:text-[14px] xl:text-[20px]"></i></a>
  </div>
</section>
