<div class="relative md:grid md:grid-cols-2 flex justify-center items-stretch h-[100vh] xl:w-[80%] mx-auto my-avto">
  <div class="bg-white p-[20px] md:p-[0px] rounded-[10px] md:rounded-[0px]">
    <div class="md:m-[0px]">
      <a [routerLink]="['/']" class="flex items-center gap-2">
        <img src="../../../assets/icon/logo.svg" alt="" class="" />
        
      </a>
    </div>
    <div class=" xl:m-[43px]">
      <div class="text-center">
        <h2 class="font-poppins_medium text-[20px] md:text-[25px] xl:text-[35px] text-[#323142] mt-[20px] md:mt-[0]">
          Sign In To eatly
        </h2>
        <div class="flex justify-center items-center gap-[10px] md:gap-[15px] xl:gap-[20px] mt-[20px] xl:mt-[48px]">
          <button
            class="bg-[#F5F5F5] py-[8px] xl:py-[15px] px-[62px] md:px-[50px] xl:px-[75px] border rounded-[13px] hover:border-[#6C5FBC]"
          >
            <img
              src="../../../assets/icon/icon-G.svg"
              alt=""
              class="w-[19px] xl:w-[26px] h-[19px] xl:h-[26px]"
            />
          </button>
          <button
            class="bg-[#F5F5F5] border py-[8px] xl:py-[15px] px-[62px] md:px-[50px] xl:px-[75px] rounded-[13px] hover:border-[#6C5FBC]"
          >
            <img
              src="../../../assets/icon/logo-Apple.svg"
              alt=""
              class="w-[19px] xl:w-[26px] h-[19px] xl:h-[26px]"
            />
          </button>
        </div>
        <p
          class="font-poppins_medium text-[#005A6459] text-center text-[16px] md:text-[14px] xl:text-[20px] mt-[22px] xl:mt-[33px]"
        >
          OR
        </p>
        <form
          action=""
          class="flex flex-col justify-center gap-[15px] xl:gap-[24px] items-center mt-[22px] xl:mt-[35px]"
        >
          <div
            class="w-[303px] md:w-[271px] xl:w-[382px] group flex items-center gap-[20px] bg-[#F5F5F5] rounded-[14px] p-[19px] xl:p-[24px] border hover:border-[#6C5FBC] focus-within:border-[#6C5FBC]"
          >
            <div class="group">
              <img
                src="../../../assets/icon/email-icon.svg"
                class="block group-hover:hidden group-focus-within:hidden"
              />
              <img
                src="../../../assets/icon/email-icon-color.svg"
                class="hidden group-hover:block group-focus-within:block"
              />
            </div>
            <input
              type="text"
              placeholder="Email"
              class="w-full bg-[#F5F5F5] outline-none text-[#C2C3CB] text-[13px] md:text-[11px] xl:text-[16px] placeholder:font-poppins_semiBold placeholder:text-[#C2C3CB] font-poppins_medium focus-within:text-[#6C5FBC]"
            />
          </div>
          <div
            class="w-[303px] md:w-[271px] xl:w-[382px] group flex items-center gap-[20px] bg-[#F5F5F5] rounded-[14px] p-[19px] xl:p-[24px] border hover:border-[#6C5FBC] focus-within:border-[#6C5FBC]"
          >
            <div class="group">
              <img
                src="../../../assets/icon/lock-icon.svg"
                class="block group-hover:hidden group-focus-within:hidden"
              />
              <img
                src="../../../assets/icon/lock-icon-color.svg"
                class="hidden group-hover:block group-focus-within:block"
              />
            </div>
            <input
              [type]="showPassword ? 'text' : 'password'"
              placeholder="Password"
              class="w-full bg-[#F5F5F5] outline-none text-[13px] md:text-[11px] xl:text-[16px] text-[#C2C3CB] placeholder:font-poppins_semiBold placeholder:text-[#C2C3CB] font-poppins_medium focus-within:text-[#6C5FBC]"
            />
           <button (click)="togglePassword()" type="button" class="groupa">
              @if (showPassword) {
                  <i class="pi pi-eye text-[#005A6459] group-hover:text-[#6C5FBC] group-focus-within:text-[#6C5FBC]"></i>
              }@else {
                  <i class="pi pi-eye-slash text-[#005A6459] group-hover:text-[#6C5FBC] group-focus-within:text-[#6C5FBC]"></i>
              }
           </button>
          </div>
          <button
            class="w-[303px] md:w-[271px] xl:w-[382px] inline-block text-[13px] md:text-[11px] xl:text-[16px] text-center font-inter_medium bg-[rgba(108,95,188,1)] md:px-[26px] py-[19px] py-[15px] md:py-[24px] rounded-[17px] text-white border duration-300 hover:text-[rgba(108,95,188,1)] hover:border hover:border-[rgba(108,95,188,1)] hover:bg-white"
          >
            SIGN IN
          </button>
        </form>
        <p class="text-center text-[15px] xl:text-[18px] text-[#3E3E3E] mt-[16px] xl:mt-[23px]">
          Already Have An Account?
          <button (click)="(openSingUp.emit())" class="text-[#6C5FBC] font-poppins_bold">Sing Up</button>
        </p>
      </div>
      <div
        class="hidden md:flex justify-between text-[#718096] text-[13px] xl:text-[16px] font-poppins_medium mx-[20px] xl:mx-[0] mt-[60px] xl:mt-[90px]"
      >
        <p class="">Privacy Policy</p>
        <p class="">Copyright 2022</p>
      </div>
    </div>
  </div>
  <div class="bg-[#6C5FBC] hidden md:flex justify-center items-center flex-col p-[70px]">
    <img src="../../../assets/images/hero-dish.png" alt="" />
    <div class="text-white text-center">
      <h3 class="font-manrope_bold text-[28px] xl:text-[40px]">Find Foods With Love</h3>
      <p class="font manrope_medium text-[9px] xl:text-[14px]">
        Eatly Is The Food Delivery Dashboard And Having More Than 2K+ Dishes
        Including Asian, Chinese, Italians And Many More. Our Dashboard Helps
        You To Manage Orders And Money.
      </p>
    </div>
  </div>
  <button (click)="(close.emit())" class="absolute top-[20px] md:top-[10px] right-[20px] md:right-[10px] pi pi-times text-black md:text-white text-[25px] md:text-[30px]" ></button>
</div>

