<div class="grid grid-cols-2 w-[1440px]">
    <div class="bg-white p-[48px]">
        <div class="">
            <a [routerLink]="['/']" class="flex items-center gap-2">
            <img src="../../../assets/icon/logo.svg" alt="" class="" />
            <span class="text-[rgba(108,95,188,1)] font-poppins_semiBold"
              >eatly</span
            >
          </a>
        </div>
        <div class="text-center">
            <h2 class="font-poppins_medium text-[35px] text-[#323142]">Sign Up To eatly</h2>
        </div>
    </div>
    <div class="bg-[#6C5FBC]"></div>
</div>
