<section class="stat mt-[80px]">
  <div class="container grid grid-cols-3 text-center py-[48px]">
    <div class="text-white">
      <p class="font-publicSans_bold text-[43px]">10K+</p>
      <p class="font-inter_medium text-[14px] text-[rgba(197,191,237,1)]">Satisfied Costumers <br/> All Great Over The World</p>
    </div>
    <div class="text-white border-x border-white/40">
      <p class="font-publicSans_bold text-[43px]">4M</p>
      <p class="font-inter_medium text-[14px] text-[rgba(197,191,237,1)]">Healthy Dishes <br/> Sold Including Milk Shakes Smooth</p>
    </div>
    <div class="text-white">
      <p class="font-publicSans_bold text-[43px]">99.99%</p>
      <p class="font-inter_medium text-[14px] text-[rgba(197,191,237,1)]">Reliable Customer Support <br/> We Provide Great Experiences</p>
    </div>
  </div>
</section>
