<div class="grid grid-cols-3 gap-2 w-[260px] xl:w-[345px] bg-white shadow-xl rounded-[10px] px-[18px] py-[5px] mb-[15px] transition duration-300 hover:scale-105">
    <div class="flex items-center gap-2 col-span-2 ">
        <div class="w-[50px] sm:w-[54px] xl:w-[80px] h-[50px] sm:h-[54px] xl:h-[80px]">
            <img src="../../../assets/images/salat-1.png" alt="" class="w-full">
        </div>
        <div class="text-[#323142]">
            <h3 class="font-poppins_semiBold text-[13px] xl:text-[18px]">Chicken Hell</h3>
            <p class="font-poppins_medium text-[8px] xl:text-[12px]">On The Way</p>
        </div>
    </div>
    <div class="flex items-end justify-end ">
        <p class="text-[#ACADB9] font-poppins_medium text-[9px] xl:text-[13px]">3:09 PM</p>
    </div>
</div>
