<section class="w-[315px] md:w-[694px] xl:w-[978px] mx-auto mt-[340px] xl:mt-[240px]">
  <div class="sm:w-[484px] xl:w-[692px] mx-auto">
    <div class="relative">
      <app-cart-item></app-cart-item>
      <app-cart-item></app-cart-item>
      <img 
      src="../../../../assets/icon/Illustration.png" 
      alt="" 
      class="absolute top-[-30px] xl:top-[-40px] right-[-10px] sm:right-[-40px] xl:right-[-60px] w-[24px] sm:w-[29px] xl:w-[41px]">
    </div>
    <div class="grid grid-cols-4 gap-[8px] mt-[70px] ">
      <div
        class="col-span-3 flex items-center gap-[13px] text-[12px] xl:text-[18px] bg-[rgba(237,237,237,1)] rounded-[20px] sm:px-[14px] xl:px-[20px] sm:py-[17px] xl:py-[24px]"
      >
        <img src="../../../../assets/icon/bill.svg" alt="" />
        <input
          type="text"
          placeholder="Apply Coupon"
          class="outline-none bg-[rgba(237,237,237,1)] w-full py-[5px] text-[rgba(170,171,186,1)]"
        />
      </div>
      <button
        class="text-[12px] xl:text-[18px] inline-block text-center font-inter_medium bg-[rgba(108,95,188,1)] sm:px-[14px] xl:px-[20px] sm:py-[17px] xl:py-[24px] rounded-[17px] text-white border duration-300 hover:text-[rgba(108,95,188,1)] hover:border hover:border-[rgba(108,95,188,1)] hover:bg-white"
      >
        Apply
      </button>
    </div>

    <div class="font-poppins_regular text-[#323142] text-[20px] mt-[50px]">
      <div
        class="py-[13px] border-b border-dashed flex items-center justify-between sm:text-[14px] xl:text-[20px]"
      >
        <p class="">Subtotal</p>
        <p class="">$58.96</p>
      </div>
      <div
        class="py-[13px] border-b border-dashed flex items-center justify-between sm:text-[14px] xl:text-[20px]"
      >
        <p class="">Delivery</p>
        <p class="">$3.59</p>
      </div>
    </div>
    <div
      class="text-[#323142] font-poppins_semiBold flex items-center justify-between text-[25px] sm:mt-[20px] xl:mt-[30px] sm:text-[17px] xl:text-[25px]"
    >
      <p>Total</p>
      <p>$62.55</p>
    </div>
    <div class="relative mb-[155px]">
      <button
        class="w-full sm:text-[14px] xl:text-[20px] inline-block text-center font-inter_medium bg-[rgba(108,95,188,1)] px-[26px] py-[15px] rounded-[17px] text-white border duration-300 hover:text-[rgba(108,95,188,1)] hover:border hover:border-[rgba(108,95,188,1)] hover:bg-white mt-[60px]"
      >
        Review Payment
      </button>

      <img 
      src="../../../../assets/icon/arrow.svg" 
      alt=""
       class="hidden md:absolute top-[-10px] left-[-140px] rotate-[0deg] scale-x-[-1]">
      <img 
      src="../../../../assets/icon/arrow.svg" 
      alt=""
      class="hidden md:absolute top-[-10px] right-[-140px] rotate-[0deg]">
    </div>
  </div>
</section>
