<section class="w-[978px] mx-auto mt-[240px]">
  <div class="w-[692px] mx-auto">
    <app-cart-item></app-cart-item>
    <app-cart-item></app-cart-item>
    <div class="grid grid-cols-4 gap-[8px] mt-[70px]">
      <div
        class="col-span-3 flex items-center gap-[13px] bg-[rgba(237,237,237,1)] rounded-[20px] p-[20px]"
      >
        <img src="../../../../assets/icon/bill.svg" alt="" />
        <input
          type="text"
          placeholder="Apply Coupon"
          class="outline-none bg-[rgba(237,237,237,1)] w-full text-[18px] py-[5px] text-[rgba(170,171,186,1)]"
        />
      </div>
      <button
        class="w-full inline-block text-center font-inter_medium bg-[rgba(108,95,188,1)] px-[20px] py-[15px] rounded-[17px] text-white border duration-300 hover:text-[rgba(108,95,188,1)] hover:border hover:border-[rgba(108,95,188,1)] hover:bg-white"
      >
        Apply
      </button>
    </div>
  </div>
</section>
