<section class="section container">
  <div class="flex justify-between mt-[65px]">
    <h2 class="title font-poppins_semiBold">
      Our Top <span class="text-[rgba(92,78,174,1)]">Restaurants</span>
    </h2>
    <a href="#" class="font-poppins_medium text-[#ACADB9] text-[20px]"
      >View All</a
    >
  </div>
  <div class="grid grid-cols-3 gap-[30px] mt-[85px]">
    <app-restaurant-card></app-restaurant-card>
    <app-restaurant-card></app-restaurant-card>
    <app-restaurant-card></app-restaurant-card>
  </div>
</section>
