<div class="bg-white rounded-[20px] px-[25px] sm:px-[43px] py-[22px] sm:py-[28px]">
  <div class="flex justify-between">
    <div class="flex items-center gap-[12px] sm:gap-[20px]">
      <div class="w-[42px] sm:w-[50px] xl:w-[70px] h-[42px] sm:h-[50px] xl:h-[70px] rounded-[50px] overflow-hidden border">
        <img src="../../../assets/images/face.jpg" alt="" class="w-full" />
      </div>
      <div class="">
        <p class="font-poppins_medium text-[12px] sm:text-[14px] xl:text-[20px]">Abdugafforov A.</p>
        <p class="text-[#5E5D5D] text-[9px] sm:text-[11px] xl:text-[16px]">01 Year With Us</p>
      </div>
    </div>
    <img src="../../../assets/images/path.png" alt="" class="w-[34px] sm:w-[41px] xl:w-[58px]" />
  </div>
  <p class="font-poppins_regular text-[#636363] my-[19px] sm:my-[22px] xl:my-[31px] text-[10px] sm:text-[12px] xl:text-[18px]">
    “ Online invoice payment helps companies save time, are faster and save
    maximum effort for the clients and save maximum effort. Online invoice
    payment helps companies save time ”
  </p>
  <div class="flex gap-[5px]">
      <img src="../../../assets/icon/star.svg" alt="">
      <img src="../../../assets/icon/star.svg" alt="">
      <img src="../../../assets/icon/star.svg" alt="">
      <img src="../../../assets/icon/star.svg" alt="">
      <img src="../../../assets/icon/star.svg" alt="">
  </div>
</div>
