<div class="bg-white rounded-[20px] px-[43px] py-[28px]">
  <div class="flex justify-between">
    <div class="flex items-center gap-[20px]">
      <div class="sm:w-[50px] xl:w-[70px] sm:h-[50px] xl:h-[70px] rounded-[50px] overflow-hidden border">
        <img src="../../../assets/images/face.jpg" alt="" class="w-full" />
      </div>
      <div class="">
        <p class="font-poppins_medium sm:text-[14px] xl:text-[20px]">Abdugafforov A.</p>
        <p class="text-[#5E5D5D] sm:text-[11px] xl:text-[16px]">01 Year With Us</p>
      </div>
    </div>
    <img src="../../../assets/images/path.png" alt="" class="" />
  </div>
  <p class="font-poppins_regular text-[#636363] sm:py-[22px] xl:py-[31px] sm:text-[12px] xl:text-[18px]">
    “ Online invoice payment helps companies save time, are faster and save
    maximum effort for the clients and save maximum effort. Online invoice
    payment helps companies save time ”
  </p>
  <div class="flex gap-[5px]">
      <img src="../../../assets/icon/star.svg" alt="">
      <img src="../../../assets/icon/star.svg" alt="">
      <img src="../../../assets/icon/star.svg" alt="">
      <img src="../../../assets/icon/star.svg" alt="">
      <img src="../../../assets/icon/star.svg" alt="">
  </div>
</div>
