<section class="section container grid grid-cols-2">
  <div class="">
    <h2 class="title_bigger font-poppins_bold sm:mb-[20px] sm:mb-[34px] xl:mb-[48px]">
      Control <span class="text-[rgba(92,78,174,1)]">Purchases</span> <br />
      Via Dashboard
    </h2>
    <app-purchas-card></app-purchas-card>
    <app-purchas-card></app-purchas-card>
    <app-purchas-card></app-purchas-card>
  </div>
  <div class="">
    <div class="bg-white border shadow-xl rounded-[10px] sm:px-[29px] xl:px-[35px] sm:py-[32px] xl:py-[45px]">
      <div class="flex justify-between sm:mb-[32px] xl:mb-[45px]">
        <p class="text-[#1A202C] font-manrope_extraBold sm:text-[20px] xl:text-[28px]">Purchases</p>
        <select class="font-manrope_semiBold border rounded-sm sm:py-[8px] xl:py-[12px] sm:px-[13px] xl:px-[18px] sm:text-[13px] xl:text-[18px]">
          <option>This Month</option>
          <option>This Week</option>
          <option>This Year</option>
        </select>
      </div>
      <app-purchases-increased-card></app-purchases-increased-card>
      <app-purchases-increased-card></app-purchases-increased-card>
    </div>
  </div>
</section>
