<section class="section container grid sm:grid-cols-2">
  <div class="">
    <h2 class="title_bigger font-poppins_bold mb-[26px] sm:mb-[20px] md:mb-[34px] xl:mb-[48px]">
      Control <span class="text-[rgba(92,78,174,1)]">Purchases</span> <br />
      Via Dashboard
    </h2>
    <app-purchas-card></app-purchas-card>
    <app-purchas-card></app-purchas-card>
    <app-purchas-card></app-purchas-card>
  </div>
  <div class="">
    <div class="bg-white border shadow-xl rounded-[10px] px-[24px] sm:px-[29px] xl:px-[35px] py-[26px] sm:py-[32px] xl:py-[45px]">
      <div class="flex justify-between mb-[26px] sm:mb-[32px] xl:mb-[45px]">
        <p class="text-[#1A202C] font-manrope_extraBold text-[16px] sm:text-[20px] xl:text-[28px]">Purchases</p>
        <select class="font-manrope_semiBold border rounded-sm py-[8px] xl:py-[12px] px-[13px] xl:px-[18px] text-[11px] sm:text-[13px] xl:text-[18px]">
          <option>This Month</option>
          <option>This Week</option>
          <option>This Year</option>
        </select>
      </div>
      <app-purchases-increased-card></app-purchases-increased-card>
      <app-purchases-increased-card></app-purchases-increased-card>
    </div>
  </div>
</section>
