<div class="relative max-w-[1300px] mx-auto px-6">
  <div class="get container rounded-[30px] px-[66px] py-[30px]">
    <h3 class="font-poppins_extraBold sm:text-[50px] xl:text-[70px] text-white">GET 50%</h3>
    <form action="" class="bg-white sm:w-[312px] xl:w-[439px] rounded-[10px] p-[2px]">
      <div class="rounded-[10px] border-2 border-[#6C5FBC] flex items-center justify-between p-[5px]">
          <input
          type="email"
          placeholder=" Enter Your Email Address"
          class="outline-none font-poppins_medium text-[#878787] sm:p-[5px] xl:p-[21px] sm:text-[11px] xl:text-[16px]"/>

          <button
            class="
            font-poppins_medium
            bg-[rgba(108,95,188,1)]
            sm:text-[10px]
            xl:text-[14px]
            uppercase
            sm:px-[18px]
            xl:px[25px]
            sm:py-[10px]
            xl:py-[15px]
            rounded-[8px]
            text-white
            duration-300
            border
            hover:text-[rgba(108,95,188,1)]
            hover:border
            hover:border-[rgba(108,95,188,1)]
            hover:bg-white
          ">
          subscribe
        </button>
      </div>
    </form>
  </div>
  <div class="absolute top-[50px] right-[50px] z-10 sm:w-[194px] xl:w-[274px] sm:h-[194px] xl:h-[274px]">
    <img src="../../../assets/images/chiken-salad.png" alt="" class="w-full">
  </div>
</div>
