<!-- <div class="relative max-w-[1300px] mx-auto sm:p-[21px] px-6 "> -->
  <div class="get container flex items-center flex-col sm:items-start rounded-[30px] px-[27] sm:px-[46px] xl:px-[66px] sm:py-[26px] xl:py-[30px] pt-[35px] pb-[95px]">
    <h3 class="font-poppins_extraBold text-[30px] sm:text-[50px] xl:text-[70px] text-white">GET 50%</h3>
    <form action="" class="bg-white w-[260px] sm:w-[312px] xl:w-[439px] rounded-[10px] p-[2px]">
      <div class="rounded-[10px] border-2 border-[#6C5FBC] flex items-center justify-between p-[5px]">
          <input
          type="email"
          placeholder=" Enter Your Email Address"
          class="outline-none font-poppins_medium text-[#878787] sm:p-[5px] xl:p-[21px] text-[10px] xl:text-[16px]"/>

          <button
            class="
            font-poppins_medium
            bg-[rgba(108,95,188,1)]
            text-[10px]
            xl:text-[14px]
            uppercase
            px-[16px]
            sm:px-[18px]
            xl:px[25px]
            py-[10px]
            xl:py-[15px]
            rounded-[8px]
            text-white
            duration-300
            border
            hover:text-[rgba(108,95,188,1)]
            hover:border
            hover:border-[rgba(108,95,188,1)]
            hover:bg-white
          ">
          subscribe
        </button>
      </div>
    </form>
  </div>
  <div class="absolute top-[150px] sm:top-[50px] right-[30%] sm:right-[50px] z-10 w-[169px] sm:w-[194px] xl:w-[254px] ">
    <img src="../../../assets/images/chiken-salad.png" alt="" class="w-full">
  </div>
<!-- </div> -->
